section.items
	.container
		h2.title.title--size-small.title--align-center.title--color-bg.items__title Схожие документы
		.items__inner
			a(href="#").items__link Договор аренды транспортного средства с экипажем
			a(href="#").items__link Договор аренды транспортного средства с экипажем
			a(href="#").items__link Договор аренды автомобиля без водителя
			a(href="#").items__link Договор аренды автомобиля без водителя
			a(href="#").items__link Договор аренды автомобиля с водителем
			a(href="#").items__link Договор аренды автомобиля с водителем