section.specialists(data-bg="static/images/content/specialists/specialists-bg.jpg" data-bg-webp="static/images/content/specialists/specialists-bg.webp")
    .container
        .section-top.specialists__top
            .section-top__content
                h2.section-top__title.title.title--color-bg.title--size-small Лучшие специалисты
                span.section-top__text.title.title--size-tiny.title--color-gray  по разработке <span>Договора залога</span>
            .section-top__arrows.specialists__arrows
        .specialists__slider
            .specialists__slide
                .specialist
                    .specialist__image
                        +picture('static/images/content/specialists', 'specialists-image-1', ['webp', 'jpg'], 'object-fit')
                    .specialist__mask
                        h3.title.title--color-white.title--size-medium.title--align-center.specialist__title Анисимов Олег
                        .stars
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                        .specialist__content
                            ul
                                li Договор залога
                                li Договор залога ювелирных изделий
                                li Договор залога транспортного средства
                    a(href="#").specialist__link.btn.btn--bg-white.btn--color-green Заказать
            .specialists__slide
                .specialist
                    .specialist__image
                        +picture('static/images/content/specialists', 'specialists-image-2', ['webp', 'jpg'], 'object-fit')
                    .specialist__mask
                        h3.title.title--color-white.title--size-medium.title--align-center.specialist__title Козаков Валентин
                        .stars
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                        .specialist__content
                            ul
                                li Договор залога
                                li Договор залога ювелирных изделий
                                li Договор залога транспортного средства
                    a(href="#").specialist__link.btn.btn--bg-white.btn--color-green Заказать
            .specialists__slide
                .specialist
                    .specialist__image
                        +picture('static/images/content/specialists', 'specialists-image-3', ['webp', 'jpg'], 'object-fit')
                    .specialist__mask
                        h3.title.title--color-white.title--size-medium.title--align-center.specialist__title Козаков Валентин
                        .stars
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                        .specialist__content
                            ul
                                li Договор залога
                                li Договор залога ювелирных изделий
                                li Договор залога транспортного средства
                    a(href="#").specialist__link.btn.btn--bg-white.btn--color-green Заказать
            .specialists__slide
                .specialist
                    .specialist__image
                        +picture('static/images/content/specialists', 'specialists-image-1', ['webp', 'jpg'], 'object-fit')
                    .specialist__mask
                        h3.title.title--color-white.title--size-medium.title--align-center.specialist__title Анисимов Олег
                        .stars
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                        .specialist__content
                            ul
                                li Договор залога
                                li Договор залога ювелирных изделий
                                li Договор залога транспортного средства
                    a(href="#").specialist__link.btn.btn--bg-white.btn--color-green Заказать
            .specialists__slide
                .specialist
                    .specialist__image
                        +picture('static/images/content/specialists', 'specialists-image-2', ['webp', 'jpg'], 'object-fit')
                    .specialist__mask
                        h3.title.title--color-white.title--size-medium.title--align-center.specialist__title Козаков Валентин
                        .stars
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                        .specialist__content
                            ul
                                li Договор залога
                                li Договор залога ювелирных изделий
                                li Договор залога транспортного средства
                    a(href="#").specialist__link.btn.btn--bg-white.btn--color-green Заказать
            .specialists__slide
                .specialist
                    .specialist__image
                        +picture('static/images/content/specialists', 'specialists-image-3', ['webp', 'jpg'], 'object-fit')
                    .specialist__mask
                        h3.title.title--color-white.title--size-medium.title--align-center.specialist__title Козаков Валентин
                        .stars
                            +icon('stars', 'stars__icon')
                            +icon('stars', 'stars__icon')
                        .specialist__content
                            ul
                                li Договор залога
                                li Договор залога ювелирных изделий
                                li Договор залога транспортного средства
                    a(href="#").specialist__link.btn.btn--bg-white.btn--color-green Заказать