mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
mixin picture(path, name, type, id)
	picture
		each val in type
			source(srcset=path + "/" + name + "." + val type="image/" + val)
		img(src=path + "/" + name + "." + type[1] alt=name class=id)
