section.answer(data-bg="static/images/content/answers/answer-bg.jpg" data-bg-webp="static/images/content/answers/answer-bg.webp")
	.container
		.section-top.answer__top
			.section-top__content
				h2.section-top__title.title.title--color-bg.title--size-small Видео
			a(href="#" data-da="answer, last, 580").btn.btn--size-tiny.btn--border-green.btn--color-green.btn--border-radius.answer__btn Добавить видео
		.answer__items
			.answer-video
				.answer-video__image
					+picture('static/images/content/answers', 'answer-image-1', ['webp', 'jpb'], 'object-fit')
					a(href="#").answer-video__player
						+icon('play', 'answer-video__icon')
				.answer-video__content
					h3.answer-video__title Что делать, если экспертиза не смогла ответить на вопрос?
			.answer-video
				.answer-video__image
					+picture('static/images/content/answers', 'answer-image-2', ['webp', 'jpb'], 'object-fit')
					a(href="#").answer-video__player
						+icon('play', 'answer-video__icon')
				.answer-video__content
					h3.answer-video__title Что делать, если экспертиза не смогла ответить на вопрос?
			.answer-video
				.answer-video__image
					+picture('static/images/content/answers', 'answer-image-3', ['webp', 'jpb'], 'object-fit')
					a(href="#").answer-video__player
						+icon('play', 'answer-video__icon')
				.answer-video__content
					h3.answer-video__title Что делать, если экспертиза не смогла ответить на вопрос?
			.answer-video
				.answer-video__image
					+picture('static/images/content/answers', 'answer-image-1', ['webp', 'jpb'], 'object-fit')
					a(href="#").answer-video__player
						+icon('play', 'answer-video__icon')
				.answer-video__content
					h3.answer-video__title Что делать, если экспертиза не смогла ответить на вопрос?
			.answer-video
				.answer-video__image
					+picture('static/images/content/answers', 'answer-image-2', ['webp', 'jpb'], 'object-fit')
					a(href="#").answer-video__player
						+icon('play', 'answer-video__icon')
				.answer-video__content
					h3.answer-video__title Что делать, если экспертиза не смогла ответить на вопрос?
			.answer-video
				.answer-video__image
					+picture('static/images/content/answers', 'answer-image-3', ['webp', 'jpb'], 'object-fit')
					a(href="#").answer-video__player
						+icon('play', 'answer-video__icon')
				.answer-video__content
					h3.answer-video__title Что делать, если экспертиза не смогла ответить на вопрос?