section.formalized
	.container
		.section-top.formalized__top
			.section-top__content
				h2.section-top__title.title.title--color-bg.title--size-small Оформляемые документы
				span.section-top__text.title.title--size-tiny.title--color-gray  Задавайте свои вопросы нашим юристам, чтобы получить помощь юриста
			.section-top__arrows.formalized__arrows
		form(action="#").formalized__search
			input(type="text" placeholder="Поиск по документам..." required).formalized__search-input
			button(type="submit").formalized__search-btn
				+icon('search', 'formalized__search-icon')
		.formalized__slider
			.formalized__slide
				.formalized__item
					p.formalized__text Договор аренды транспортного средства с экипажем
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 1000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 3 дня
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор купли продажи автомобиля, находящегося в залоге у банка
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 7000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 5 дней
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор на оказание услуг по разработке  финансово-экономической модели
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 2000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 7 дней
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор на оказание  маркетинговых услуг
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 10 000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 3 дня
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор аренды транспортного средства с экипажем
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 1000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 3 дня
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор аренды транспортного средства с экипажем
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 1000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 3 дня
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор купли продажи автомобиля, находящегося в залоге у банка
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 7000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 5 дней
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор на оказание услуг по разработке  финансово-экономической модели
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 2000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 7 дней
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор на оказание  маркетинговых услуг
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 10 000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 3 дня
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать
			.formalized__slide
				.formalized__item
					p.formalized__text Договор аренды транспортного средства с экипажем
					.formalized__info
						strong.formalized__price.title.title--size-tiny.title--color-green 1000 р
						strong.formalized__day.title.title--size-tiny.title--color-green 3 дня
					a(href="#").btn.btn--border-orange.btn--border-radius.btn--color-orange.formalized__link Заказать