section.performance
	.container
		.section-top.performance__top
			.section-top__content
				h2.section-top__title.title.title--color-bg.title--size-small Выигранные дела
			.section-top__arrows.performance__arrows
		.performance__slider
			.performance__slide
				.performance__box.box-shadow
					h3.title.title--size-medium.title--align-center.title--weight-extrablod.performance__title Управление транспортным стредством в состоянии опьянения
					ul
						li
							strong Дата: &#32;
							span 18 июня 2018г.
						li
							strong Место совершения: &#32;
							span г. Москва
						li
							strong Суд: &#32;
							span Московский городской суд / заместитель председателя Базькова Е. М.
						li
							strong Результат: &#32;
							span Дело выиграно. Защитник председателя Московского городского суда Базькова Е. М. по жалобе защитника отменил постановление мирового судьи и решение судьи Останкинского районного суда г. Москвы о лишении прав на 1.5 года и штрафе 30 000 рублей и прекратил производство по делу в связи с недоказанностью обстоятельств.
					.performance__images
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
			.performance__slide
				.performance__box.box-shadow
					h3.title.title--size-medium.title--align-center.title--weight-extrablod.performance__title Управление транспортным стредством в состоянии опьянения
					ul
						li
							strong Дата: &#32;
							span 18 июня 2018г.
						li
							strong Место совершения: &#32;
							span г. Москва
						li
							strong Суд: &#32;
							span Московский городской суд / заместитель председателя Базькова Е. М.
						li
							strong Результат: &#32;
							span Дело выиграно. Защитник председателя Московского городского суда Базькова Е. М. по жалобе защитника отменил постановление мирового судьи и решение судьи Останкинского районного суда г. Москвы о лишении прав на 1.5 года и штрафе 30 000 рублей и прекратил производство по делу в связи с недоказанностью обстоятельств.
					.performance__images
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit
						a(href="#").performance__image
							img(src="https://via.placeholder.com/200/" alt="").object-fit