section.portfolio(data-bg="static/images/content/consult/portfolio-bg.jpg" data-bg-webp="static/images/content/consult/portfolio-bg.webp")
	.container
		.portfolio__inner
			.portfolio__box
				.portfolio__preview
					+picture('static/images/content/consult', 'portfolio-avatar', ['webp', 'jpg'], 'portfolio__preview-image object-fit')
					span.portfolio__location
						+icon('pin')
						| г. Москва
				.portfolio__icons
					a(href="#").portfolio__icons-link
						+icon('question-mark')
					a(href="#").portfolio__icons-link
						+icon('message')
					a(href="#").portfolio__icons-link
						+icon('chat')
			.portfolio__content
				h2.portfolio__title.title.title--size-small <span>Юрист</span> Артемьев Ярослав
				.portfolio__info.content-info.box-shadow
					p Судебная практика <strong>16 лет.</strong> Специализируюсь на: жилищных, семейных, трудовых спорах. Также в сфере интересов, земельное право и градостроительство. Специализируюсь на: жилищных, семейных, трудовых спорах. Также в сфере интересов, земельное право и градостроительство. Специализируюсь на: жилищных, семейных, трудовых спорах. Также в сфере интересов, земельное право и градостроительство. Специализируюсь на: жилищных, семейных, трудовых спорах. Также в сфере интересов, земельное право и градостроительство. Специализируюсь на: жилищных, семейных, трудовых спорах. Также в сфере интересов, земельное право и градостроительство.
				.portfolio__services.box-shadow
					.portfolio__services-content.content-info
						ul
							li консультации
							li составление документов
							li семейное право
							li представительство по уголовным и гражданским делам
							li сопровождение сделок
					.price.portfolio__price
						| от <strong> 100 </strong> р.
				.portfolio__items
					.portfolio__item
						strong Страна
						strong Город
					.portfolio__item
						span Россия
						span Москва
					.portfolio__item
						strong Вуз
						strong Факультет
					.portfolio__item
						span МГУ
						span Юридический
					.portfolio__item
						strong Год
					.portfolio__item
						span 1980