.loader
  .loader__items
    span.loader__circle.loader__circle--1
    span.loader__circle.loader__circle--2
    span.loader__circle.loader__circle--3
    span.loader__circle.loader__circle--4
    span.loader__circle.loader__circle--5
    span.loader__circle.loader__circle--6
    span.loader__circle.loader__circle--7
    span.loader__circle.loader__circle--8
