section.main-banner
  .main-banner__bg(style="background-image: url(static/images/common/main-bg.jpg)")
    .container
      .main-banner__content
        +picture('static/images/content/slider', 'slider-icon', ['webp', 'png'], 'main-banner__icon')
        h2.title.title--color-white.title--size-big.title--align-center.main-banner__title ЗАДАТЬ ВОПРОС ЮРИСТУ В МОСКВЕ
        span.main-banner__desc Задайте свой вопрос юристу и получите ответы от юристов со всей россии
section.faq.faq--asked
  .container
    .faq__content
      .faq__top
        h2.title.title--size-small.title--align-center.faq__title Задать вопрос
        span.title.title--size-tiny.title--color-gray.faq__subtitle Чтобы задать вопрос юристу онлайн, Вам потребуется всего лишь несколько минут и заполнить пару шагов
      form(action="#").faq__form
        h3.title.title--align-center.title--size-medium.title--color-green.faq__form-title Ваш вопрос юристам
        .faq__form-row
          label.faq__control.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            input(type="text" placeholder="Тема вопроса").input.faq__control-input
            span.label__text.faq__control-text Пример: «Как вернуть некачественный товар в интернет-магазин?»
          .faq__control.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            select.select.faq__control-select(data-placeholder="Выберите категорию права")
              option.select__option
              option(value="1").select__option Котегори 1
              option(value="2").select__option Котегори 2
              option(value="3").select__option Котегори 3
              option(value="4").select__option Котегори 4
              option(value="5").select__option Котегори 5
          label.faq__control.faq__control--width.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            textarea(placeholder="Расскажите нам о вашей проблеме").textarea.faq__control-textarea
        div.dropzone.file-upload
          input(type="file" name="file" multiple)
          .dz-message
            span.dz-message__file
              +icon('paper-clip', 'dz-message__icon')
              | Прикрепить файл
            span.dz-message__text Допустимый размер файла до 10Мб. Доступные расширения: jpg,jpeg,png,pdf,doc,docx,odt
          .js-browse.dz-upload
            +icon('upload', 'dz-upload__icon')
            span.file-upload__text Загрузить файл
        h3.title.title--align-center.title--size-medium.title--color-green.faq__form-title Ваши контакты
        .faq__form-row
          label.faq__control.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            input(type="text" placeholder="Имя *").input.faq__control-input
            span.label__text.faq__control-text Пример: «Как вернуть некачественный товар в интернет-магазин?»
          label.faq__control.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            input(type="text" placeholder="Email *").input.faq__control-input
            span.label__text.faq__control-text Для уведомлений об ответах юриста
          label.faq__control.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            input(type="text" placeholder="Телефон *").input.faq__control-input
            span.label__text.faq__control-text Пример: «Как вернуть некачественный товар в интернет-магазин?»
          .faq__control.label
            +icon('arrow-down', 'label__icon label__icon--fill-orange')
            select.select.faq__control-select(data-placeholder="Город *")
              option.select__option
              option(value="1").select__option Котегори 1
              option(value="2").select__option Котегори 2
              option(value="3").select__option Котегори 3
              option(value="4").select__option Котегори 4
              option(value="5").select__option Котегори 5
            span.label__text.faq__control-text Для уведомлений об ответах юриста
        h3.title.title--align-center.title--size-medium.title--color-green.faq__form-title Выберите Ваш тарифный план
        .faq__form-slider
          .faq__form-slide
            .faq__item
              .faq__item-head.faq__item-head--bg-orange
                h3.title.title--align-center.title--size-tiny.title--color-white VIP
              .faq__item-body
                ul.faq__item-list
                  li.faq__item-schedule
                    +icon('fast', 'faq__item-icon')
                    span.faq__item-text Моментальная публикация
                  li.faq__item-schedule
                    <svg class="faq__item-icon" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M2.47447 17.9843H1.26991L2.12168 17.1325C2.58095 16.6732 2.86775 16.0759 2.94485 15.4279C1.7464 14.6414 0.870046 13.6067 0.400932 12.42C-0.0678495 11.2343 -0.126759 9.92902 0.23059 8.64525C0.659355 7.10485 1.66501 5.70084 3.06224 4.69179C4.58058 3.59533 6.47074 3.01575 8.52842 3.01575C11.1205 3.01575 13.3054 3.76048 14.8467 5.16939C16.2353 6.43869 17 8.15079 17 9.99035C17 10.8841 16.818 11.7537 16.4591 12.575C16.0878 13.4249 15.5439 14.1817 14.8428 14.8243C13.2994 16.2387 11.1159 16.9864 8.52838 16.9864C7.56783 16.9864 6.56551 16.8582 5.67062 16.6228C4.82357 17.4918 3.67575 17.9843 2.47447 17.9843ZM8.52842 4.01365C4.40245 4.01365 1.87074 6.47424 1.19194 8.91285C0.550484 11.2173 1.49606 13.3949 3.72139 14.7378L3.97003 14.8878L3.96238 15.1781C3.94721 15.7527 3.81023 16.3061 3.56505 16.8064C4.16209 16.6044 4.70385 16.2382 5.1281 15.737L5.33905 15.4877L5.65189 15.5813C6.52982 15.8439 7.55137 15.9885 8.52842 15.9885C13.6634 15.9885 16.0021 12.8792 16.0021 9.99035C16.0021 8.43442 15.3527 6.98387 14.1734 5.90594C12.8192 4.66801 10.8671 4.01365 8.52842 4.01365Z" fill="#17BA9B"/>
                    <rect x="9" y="2" width="8" height="7" fill="#FCFCFC"/>
                    <path d="M12.2656 0.0411377C11.7478 0.0411377 11.3281 0.460856 11.3281 0.978637V7.0158C11.3281 7.53358 11.7478 7.9533 12.2656 7.9533C12.7834 7.9533 13.2031 7.53358 13.2031 7.0158V0.978637C13.2031 0.460856 12.7834 0.0411377 12.2656 0.0411377Z" fill="#17BA9B"/>
                    <path d="M12.2656 11.6324C12.9646 11.6324 13.5312 11.0658 13.5312 10.3668C13.5312 9.66784 12.9646 9.1012 12.2656 9.1012C11.5666 9.1012 11 9.66784 11 10.3668C11 11.0658 11.5666 11.6324 12.2656 11.6324Z" fill="#17BA9B"/>
                    </g>
                    <defs>
                    <clipPath>
                    <rect width="18" height="19" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    span.faq__item-text Обязательный ответ юриста
                  li.faq__item-schedule
                    +icon('comments', 'faq__item-icon')
                    span.faq__item-text Самый полный ответ
                strong.faq__item-price(data-value="/ руб") 250
              .faq__item-footer
                button(type="submit").faq__item-btn.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
          .faq__form-slide
            .faq__item
              .faq__item-head.faq__item-head--bg-green
                h3.title.title--align-center.title--size-tiny.title--color-white ПЛАТНЫЙ
              .faq__item-body
                ul.faq__item-list
                  li.faq__item-schedule
                    +icon('fast', 'faq__item-icon')
                    span.faq__item-text Моментальная публикация
                  li.faq__item-schedule
                    <svg class="faq__item-icon" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M2.47447 17.9843H1.26991L2.12168 17.1325C2.58095 16.6732 2.86775 16.0759 2.94485 15.4279C1.7464 14.6414 0.870046 13.6067 0.400932 12.42C-0.0678495 11.2343 -0.126759 9.92902 0.23059 8.64525C0.659355 7.10485 1.66501 5.70084 3.06224 4.69179C4.58058 3.59533 6.47074 3.01575 8.52842 3.01575C11.1205 3.01575 13.3054 3.76048 14.8467 5.16939C16.2353 6.43869 17 8.15079 17 9.99035C17 10.8841 16.818 11.7537 16.4591 12.575C16.0878 13.4249 15.5439 14.1817 14.8428 14.8243C13.2994 16.2387 11.1159 16.9864 8.52838 16.9864C7.56783 16.9864 6.56551 16.8582 5.67062 16.6228C4.82357 17.4918 3.67575 17.9843 2.47447 17.9843ZM8.52842 4.01365C4.40245 4.01365 1.87074 6.47424 1.19194 8.91285C0.550484 11.2173 1.49606 13.3949 3.72139 14.7378L3.97003 14.8878L3.96238 15.1781C3.94721 15.7527 3.81023 16.3061 3.56505 16.8064C4.16209 16.6044 4.70385 16.2382 5.1281 15.737L5.33905 15.4877L5.65189 15.5813C6.52982 15.8439 7.55137 15.9885 8.52842 15.9885C13.6634 15.9885 16.0021 12.8792 16.0021 9.99035C16.0021 8.43442 15.3527 6.98387 14.1734 5.90594C12.8192 4.66801 10.8671 4.01365 8.52842 4.01365Z" fill="#17BA9B"/>
                    <rect x="9" y="2" width="8" height="7" fill="#FCFCFC"/>
                    <path d="M12.2656 0.0411377C11.7478 0.0411377 11.3281 0.460856 11.3281 0.978637V7.0158C11.3281 7.53358 11.7478 7.9533 12.2656 7.9533C12.7834 7.9533 13.2031 7.53358 13.2031 7.0158V0.978637C13.2031 0.460856 12.7834 0.0411377 12.2656 0.0411377Z" fill="#17BA9B"/>
                    <path d="M12.2656 11.6324C12.9646 11.6324 13.5312 11.0658 13.5312 10.3668C13.5312 9.66784 12.9646 9.1012 12.2656 9.1012C11.5666 9.1012 11 9.66784 11 10.3668C11 11.0658 11.5666 11.6324 12.2656 11.6324Z" fill="#17BA9B"/>
                    </g>
                    <defs>
                    <clipPath>
                    <rect width="18" height="19" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    span.faq__item-text Обязательный ответ юриста
                strong.faq__item-price(data-value="/ руб") 100
              .faq__item-footer
                button(type="submit").faq__item-btn.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
          .faq__form-slide
            .faq__item
              .faq__item-head.faq__item-head--bg-green
                h3.title.title--align-center.title--size-tiny.title--color-white БЕСПЛАТНЫЙ
              .faq__item-body
                ul.faq__item-list
                  li.faq__item-schedule
                    +icon('hourglass', 'faq__item-icon')
                    span.faq__item-text Публикация в порядке очереди
                  li.faq__item-schedule
                    <svg class="faq__item-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.76559 18.9843H1.41931L2.37129 18.1325C2.88459 17.6732 3.20513 17.0759 3.2913 16.4279C1.95186 15.6414 0.972404 14.6067 0.4481 13.42C-0.0758318 12.2343 -0.141672 10.929 0.257718 9.64525C0.736926 8.10485 1.86089 6.70084 3.4225 5.69179C5.11947 4.59533 7.232 4.01575 9.53176 4.01575C12.4288 4.01575 14.8707 4.76048 16.5934 6.16939C18.1453 7.43869 19 9.15079 19 10.9904C19 11.8841 18.7966 12.7537 18.3955 13.575C17.9804 14.4249 17.3726 15.1817 16.589 15.8243C14.864 17.2387 12.4236 17.9864 9.53172 17.9864C8.45817 17.9864 7.33792 17.8582 6.33775 17.6228C5.39105 18.4918 4.10819 18.9843 2.76559 18.9843V18.9843ZM9.53176 5.01365C4.92039 5.01365 2.09083 7.47424 1.33216 9.91285C0.615247 12.2173 1.67207 14.3949 4.1592 15.7378L4.43709 15.8878L4.42854 16.1781C4.41159 16.7527 4.25849 17.3061 3.98447 17.8064C4.65175 17.6044 5.25725 17.2382 5.7314 16.737L5.96718 16.4877L6.31682 16.5813C7.29803 16.8439 8.43977 16.9885 9.53176 16.9885C15.2708 16.9885 17.8847 13.8792 17.8847 10.9904C17.8847 9.43442 17.1589 7.98387 15.8409 6.90594C14.3273 5.66801 12.1456 5.01365 9.53176 5.01365V5.01365Z" fill="#17BA9B"/>
                    <rect x="7.82324" y="4" width="11.1765" height="8" fill="#FCFCFC"/>
                    <path d="M13.4116 12C14.0289 12 14.5292 11.5523 14.5292 11C14.5292 10.4477 14.0289 10 13.4116 10C12.7943 10 12.2939 10.4477 12.2939 11C12.2939 11.5523 12.7943 12 13.4116 12Z" fill="#17BA9B"/>
                    <path d="M13.4115 0C11.5627 0 10.0586 1.36716 10.0586 3.04762C10.0586 3.46842 10.4339 3.80952 10.8968 3.80952C11.3598 3.80952 11.7351 3.46842 11.7351 3.04762C11.7351 2.20739 12.4871 1.52381 13.4115 1.52381C14.3359 1.52381 15.088 2.20739 15.088 3.04762C15.088 3.88785 14.3359 4.57143 13.4115 4.57143C12.9486 4.57143 12.5733 4.91253 12.5733 5.33333V7.2381C12.5733 7.6589 12.9486 8 13.4115 8C13.8745 8 14.2498 7.6589 14.2498 7.2381V5.99882C15.6943 5.65966 16.7645 4.4651 16.7645 3.04762C16.7645 1.36716 15.2603 0 13.4115 0Z" fill="#17BA9B"/>
                    </svg>
                    span.faq__item-text Гарантии ответа нет
                strong.faq__item-price(data-value="/ руб") 0
              .faq__item-footer
                button(type="submit").faq__item-btn.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
    span.faq__desc Нажимая кнопку «Задать вопрос», я принимаю условия Пользовательского соглашения и условия Политики конфиденциальности и Политикой обработки персональных данных.
