extends layout/main

block variables
    -var title = 'Консультация'
    -var headerGreen = 'header--green'
block content
    include pages/consult/portfolio
    include pages/consult/chat
    include pages/consult/performance
    include pages/consult/formalized
    include pages/consult/news
    include pages/main/question
    include pages/consult/articles
    include pages/consult/answer
    include pages/main/banner