extends layout/main

block variables
	-var title = 'Вопросы'

block content
	include pages/faq/index-asked
	include pages/main/reviews
	include pages/main/difference
	include pages/main/category
	section.regulations
		.container
			.regulations__content
				.regulations__content-box
					h2.regulations__title.title.title--size-small.title--color-bg Основные правила пользования онлайн-консультацией юриста
					p.regulations__text В процессе поиска компании, предоставляющей юридические услуги, интернет предложит множество вариантов о консультации юриста по телефону. В Москве эти услуги становятся все более популярными. Например, информацию о телефонном общении с адвокатом можно увидеть не только на просторах интернета, но и в газетах, флаерах и даже на столбах. Но это что-то вроде рекламы, которая не всегда значит, что по указанному номеру ответит хороший специалист, способный дать дельный совет. Нужно доверять только профессионалам.
					span.regulations__subtitle
						+icon('arrow-down', 'regulations__subtitle-icon')
						| Кто оказывает помощь
					p.regulations__text На страницах сайта юристов задать вопрос можно:
					ul.regulations__list
						li.regulations__list-item юристконсультам
						li.regulations__list-item адвокатам
						li.regulations__list-item правовым организациям и т.п.
					p.regulations__text Если нужна защита, мастера юридического дела со всей России с удовольствием её окажут. Помощь оказывается индивидуально для жителей Москвы и Московской области, после детального изучения дела. Если у вас нет хорошего знакомого с юридическим образованием и большой практикой, а нужна срочная подсказка, задать вопрос юристу онлайн становится единственным удобным выходом.
					p.regulations__text Главное, тщательно описать проблему, ведь только в таком случае можно получить качественную консультацию.
				.regulations__content-box
					span.regulations__subtitle
						+icon('arrow-down', 'regulations__subtitle-icon')
						| Как получают ответ
					p.regulations__text Если задать вопрос юристу на сайте в Москве вы экономите уйму времени. Среднее время отклика на описанную проблему – не больше 15 минут. Конечно, при условии наличия свободного оператора. Общение проходит в таких форматах:
					ul.regulations__list
						li.regulations__list-item юристконсультам
						li.regulations__list-item адвокатам
						li.regulations__list-item правовым организациям и т.п.
					p.regulations__text Консультироваться можно круглосуточно. В любое время дня и ночи на связи консультанты со всех уголков страны, которые готовы рассмотреть любую проблему и максимально быстро найти её решение. Конечно, чем сложнее тема, тем больше придется над ней поработать, потому длительность онлайн-консультирования переменная единица.
					p.regulations__text Но даже если поддержка нужна срочно, больше 95% клиентов остались довольны результатом. Это говорит об эффективности виртуального формата общения.
				.regulations__content-box
					span.regulations__subtitle
						+icon('arrow-down', 'regulations__subtitle-icon')
						| Сколько платить?
					p.regulations__text Задать вопрос можно онлайн прямо на сайте, без лишних сложностей? Юристы-консультанты принимают задания в нескольких форматах:
					ul.regulations__list
						li.regulations__list-item Бесплатно. Доступна в любой момент дня или ночи. Её получают даже незарегистрированные пользователи, потребуется только зайти на портал и открыть диалоговое окно. Но ответ в порядке очереди. Возможно придется подождать.
						li.regulations__list-item За денежное вознаграждение. Ответ незамедлительный, а цена невысокая – всего от 100 рублей.
						li.regulations__list-item Мгновенная реакция, полный и подробный разбор и доступная стоимость в 250 рублей.
					p.regulations__text Если нужно интернет юристу задать вопрос срочно, онлайн-помощь является идеальным вариантом. Поддержка будет получена от автоюристов, по темам административного, жилищного права, жалоб и т.п.
	include pages/main/banner

