extends layout/main

block variables
	-var title = 'Вопросы'

block content
	include pages/faq/index-consultation
	include pages/main/reviews
	include pages/main/difference
	include pages/main/category
	section.regulations
		.container
			.regulations__content
				.regulations__content-box
					h2.regulations__title.title.title--size-small.title--color-bg Основные правила пользования онлайн-консультацией юриста
					p.regulations__text В процессе поиска компании, предоставляющей юридические услуги, интернет предложит множество вариантов о консультации юриста по телефону. В Москве эти услуги становятся все более популярными. Например, информацию о телефонном общении с адвокатом можно увидеть не только на просторах интернета, но и в газетах, флаерах и даже на столбах. Но это что-то вроде рекламы, которая не всегда значит, что по указанному номеру ответит хороший специалист, способный дать дельный совет. Нужно доверять только профессионалам.
					span.regulations__subtitle
						+icon('arrow-down', 'regulations__subtitle-icon')
						| Преимущества консультации по телефону с юристом
					p.regulations__text Консультация адвоката по телефону имеет множество преимуществ перед другими типами коммуникации. Среди наиболее крупных можно выделить:
					ul.regulations__list
						li.regulations__list-item Возможность начать разговор в любое время суток. Обращаться можно даже в ночные часы.
						li.regulations__list-item Нет привязанности к географическому положению абонента и консультанта. Важно чтобы оба были в России, но не важно, в большом вы городе или в маленькой деревне.
						li.regulations__list-item Возможность обеспечить максимальную анонимность и конфиденциальность клиента. Позвонить можно даже не с вашего номера. В таком случае раскрыть личность звонившего будет попросту невозможно, а помощь все равно окажут.
						li.regulations__list-item Вербализация позволяет лучше раскрыть проблему и передать больше нюансов, чтобы получить более глубокую помощь. В разговоре человеку проще раскрыться, чем в написанном тексте.
						li.regulations__list-item Такая форма задавания вопросов позволяет быстрее выложить информацию, что важно, если подсказка нужна максимально срочно.
						li.regulations__list-item Клиент может прервать контакт когда ему будет угодно.
						li.regulations__list-item Юридическая консультация по телефону формирует более доверительные отношения между клиентом и консультантом, поскольку вы можете услышать голос адвоката, поняв насколько хорошо он разбирается в теме. Уверенная и грамотная речь – один из основных признаков высокого профессионализма.
					p.regulations__text Нельзя забывать о некоторых ограничениях телефонного общения. Например, помощь очень сложно оказать, если слышен шум, который отвлекает и мешает. Потому прежде чем звонить на горячую линию, убедитесь, что вокруг тихо. К тому же, важно чтобы разговор не прерывался из-за плохой связи, так что проверьте стабильность сигнала.
				.regulations__content-box
					span.regulations__subtitle
						+icon('arrow-down', 'regulations__subtitle-icon')
						| Особенности рыботы с «Правио»
					p.regulations__text Сайт prav.io – лидер на рынке юридических услуг для граждан. Одним из направлений его работы является телефонное общение с правовиками. Получить консультацию юриста по телефону можно несколькими путями:
					ul.regulations__list
						li.regulations__list-item Круглосуточная. Вопросы можно задавать свободным специалистам на линии. Но они окажут только базовую поддержку. К тому же, поскольку данная консультация пользуется спросом, линия часто занята. Не самый лучший вариант, если нужна срочная подсказка.
						li.regulations__list-item Онлайн. Разговор длится около часа. В его ходе ситуация разбирается максимально подробно, учитываются различные противоречия и нюансы. Специалистом изучаются дополнительные документы и практики. Стоимость 1200 рублей. Ответ получите максимально срочно.
						li.regulations__list-item Горячая линия. Беседа ограничивается 30 минутами. Специалист погружается в проблему, уточняет детали и анализирует ситуацию с правовой точки зрения. Оплата – 700 рублей.
						li.regulations__list-item Легкая. Выбирается если нужно защитить себя в несложных ситуациях, которые не требуют долгого разбирательства. Длительность разговора не дольше 15 минут, а стоимость 400 рублей.
					p.regulations__text Вам перезвонят сами операторы, но важно запомнить – если вопрос срочный, лучше выбрать услуги, предполагающие денежное вознаграждение.
	include pages/main/banner
