extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/main/slider
	include pages/main/partners
	include pages/main/team
	include pages/main/certificates
	include pages/main/reviews
	include pages/main/difference
	include pages/main/news
	include pages/main/question
	include pages/main/answers
	include pages/main/category
	include pages/main/information
	include pages/main/banner
