extends layout/main

block variables
    -var title = 'заказ договора'
    -var headerGreen = 'header--green'
block content
    include pages/order/portfolio
    include pages/order/order
    include pages/order/items
    include pages/main/banner
    include pages/consult/articles
    include pages/consult/answer
    include pages/main/banner