extends layout/main

block variables
    -var title = 'Заказ договора'
    -var headerGreen = 'header--green'
block content
    include pages/agreement/pledge
    include pages/main/banner
    include pages/agreement/specialists
    include pages/agreement/items
    include pages/agreement/items-useful
    include pages/main/question
    include pages/main/banner