section.answers
  .container
    .section-top
      .section-top__content
        h2.section-top__title.title.title--color-bg.title--size-small Последине ответы
        span.section-top__text.title.title--size-tiny.title--color-gray  Задавайте свои вопросы нашим юристам, чтобы получить помощь юриста
      .section-top__arrows.answers__arrows
    .answers__slider
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-3.jpg" alt="").answers__preview-userpic
              span(data-count="+3").answers__preview-text Ответов
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
              span(data-count="+2").answers__preview-text Ответов
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-3.jpg" alt="").answers__preview-userpic
              span(data-count="+3").answers__preview-text Ответов
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-3.jpg" alt="").answers__preview-userpic
              span(data-count="+3").answers__preview-text Ответов
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-3.jpg" alt="").answers__preview-userpic
              span(data-count="+3").answers__preview-text Ответов
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-3.jpg" alt="").answers__preview-userpic
              span(data-count="+3").answers__preview-text Ответов
      .answers__slide
        .answers__preview
          .answers__preview-head
            .answers__preview-row
              time(datetime="2020-09-21").answers__preview-day.day 21.09.2020
              button(type="button").btn.btn--bg-blue.answers__preview-btn 100 руб
            a(href="#").answers__preview-title.title.title--color-bg.title--size-medium Оформление формы на прием работника
          .answers__preview-main
            p.answers__preview-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
          .answers__preview-bottom
            span.answers__preview-name Артемьев Ярослав Викторович
            span.answers__preview-category
              |  Категория:
              a(href="#").answers__preview-link Юридическая помощь
            .answers__preview-users
              .answers__preview-images
                img(src="static/images/content/answers/user-1.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-2.jpg" alt="").answers__preview-userpic
                img(src="static/images/content/answers/user-3.jpg" alt="").answers__preview-userpic
              span(data-count="+3").answers__preview-text Ответов
