section.banner
  .banner__bg(style="background-image: url(static/images/content/difference/difference-bg.jpg)")
    .container
      .main-info.banner__info
        .main-info__inner
          .main-info__col
            .main-info__logo
              +picture('static/images/content/slider', 'slider-icon', ['webp', 'png'], 'main-info__image')
            h3.title.title--color-white.title--size-tiny.main-info__title Бесплатная горячая линия 24/7
          .main-info__phone
            span.main-info__text Бесплатная горячая линия
            a(href="tel:+74954077755").main-info__link.title.title--color-white.title--size-tiny +7 (495) 40-777-55
          a(href="#").main-info__btn.btn.btn--bg-white.btn--color-green.btn--border-radius Задать вопрос
