section.category
  .container
    h2.title.title--align-center.title--color-bg.title--size-small.category__title Категории права
    .category__inner#business
      h4.category__subtitle.title.title--size-tiny.title--color-green Для бизнеса
      .category__row
        a(href="#").category__link
          .category__icon(style="background-color: #F5FBE9")
            +icon('category-icon-1')
          span.category__text Корпоративное право
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-2')
          span.category__text Интеллектуальная собственность
        a(href="#").category__link
          .category__icon(style="background-color: #FBFBE3")
            +icon('category-icon-3')
          span.category__text Исполнительное производство
        a(href="#").category__link
          .category__icon(style="background-color: #ECFBE3")
            +icon('category-icon-4')
          span.category__text Регистрация юридических лиц
        a(href="#").category__link
          .category__icon(style="background-color: #E3FBFB")
            +icon('category-icon-5')
          span.category__text Товарные знаки, патенты
        a(href="#").category__link
          .category__icon(style="background-color: #E3F7FB")
            +icon('category-icon-6')
          span.category__text Лицензирование
        a(href="#").category__link
          .category__icon(style="background-color: #E3EDFB")
            +icon('category-icon-7')
          span.category__text Бухгалтерский учет
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-8')
          span.category__text Тендеры
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3F6")
            +icon('category-icon-9')
          span.category__text Корпоративное право
        a(href="#").category__link
          .category__icon(style="background-color: #EEE3FB")
            +icon('category-icon-10')
          span.category__text Страхование
        a(href="#").category__link
          .category__icon(style="background-color: #E3E8FB")
            +icon('category-icon-11')
          span.category__text Авторские и смежные права
        a(href="#").category__link
          .category__icon(style="background-color: #E3F5FB")
            +icon('category-icon-12')
          span.category__text Налоговое право
        a(href="#").category__link
          .category__icon(style="background-color: #F5FBE9")
            +icon('category-icon-1')
          span.category__text Корпоративное право
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-2')
          span.category__text Интеллектуальная собственность
        a(href="#").category__link
          .category__icon(style="background-color: #FBFBE3")
            +icon('category-icon-3')
          span.category__text Исполнительное производство
        a(href="#").category__link
          .category__icon(style="background-color: #ECFBE3")
            +icon('category-icon-4')
          span.category__text Регистрация юридических лиц
        a(href="#").category__link
          .category__icon(style="background-color: #E3FBFB")
            +icon('category-icon-5')
          span.category__text Товарные знаки, патенты
        a(href="#").category__link
          .category__icon(style="background-color: #E3F7FB")
            +icon('category-icon-6')
          span.category__text Лицензирование
        a(href="#").category__link
          .category__icon(style="background-color: #E3EDFB")
            +icon('category-icon-7')
          span.category__text Бухгалтерский учет
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-8')
          span.category__text Тендеры
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3F6")
            +icon('category-icon-9')
          span.category__text Корпоративное право
        a(href="#").category__link
          .category__icon(style="background-color: #EEE3FB")
            +icon('category-icon-10')
          span.category__text Страхование
        a(href="#").category__link
          .category__icon(style="background-color: #E3E8FB")
            +icon('category-icon-11')
          span.category__text Авторские и смежные права
        a(href="#").category__link
          .category__icon(style="background-color: #E3F5FB")
            +icon('category-icon-12')
          span.category__text Налоговое право
      a(href="#").category__btn.btn.btn--bg-orange Все категории
    .category__inner#face
      h4.category__subtitle.title.title--size-tiny.title--color-green Для частных лиц
      .category__row
        a(href="#").category__link
          .category__icon(style="background-color: #F5FBE9")
            +icon('category-icon-13')
          span.category__text Недвижимость
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-15')
          span.category__text Банкротство физических лиц
        a(href="#").category__link
          .category__icon(style="background-color: #FBFBE3")
            +icon('category-icon-16')
          span.category__text ОСАГО и Каско
        a(href="#").category__link
          .category__icon(style="background-color: #ECFBE3")
            +icon('category-icon-17')
          span.category__text Автомобильное право
        a(href="#").category__link
          .category__icon(style="background-color: #E3FBFB")
            +icon('category-icon-18')
          span.category__text Лишение водительских прав
        a(href="#").category__link
          .category__icon(style="background-color: #E3F7FB")
            +icon('category-icon-19')
          span.category__text Гражданство
        a(href="#").category__link
          .category__icon(style="background-color: #E3EDFB")
            +icon('category-icon-20')
          span.category__text Миграционное право
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-21')
          span.category__text ДТП, ГИБДД, ПДД
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3F6")
            +icon('category-icon-22')
          span.category__text Военное право
        a(href="#").category__link
          .category__icon(style="background-color: #EEE3FB")
            +icon('category-icon-23')
          span.category__text Семейное право
        a(href="#").category__link
          .category__icon(style="background-color: #E3E8FB")
            +icon('category-icon-24')
          span.category__text Медицинское право
        a(href="#").category__link
          .category__icon(style="background-color: #E3F5FB")
            +icon('category-icon-25')
          span.category__text Усыновление, опека
        a(href="#").category__link
          .category__icon(style="background-color: #F5FBE9")
            +icon('category-icon-13')
          span.category__text Недвижимость
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-15')
          span.category__text Банкротство физических лиц
        a(href="#").category__link
          .category__icon(style="background-color: #FBFBE3")
            +icon('category-icon-16')
          span.category__text ОСАГО и Каско
        a(href="#").category__link
          .category__icon(style="background-color: #ECFBE3")
            +icon('category-icon-17')
          span.category__text Автомобильное право
        a(href="#").category__link
          .category__icon(style="background-color: #E3FBFB")
            +icon('category-icon-18')
          span.category__text Лишение водительских прав
        a(href="#").category__link
          .category__icon(style="background-color: #E3F7FB")
            +icon('category-icon-19')
          span.category__text Гражданство
        a(href="#").category__link
          .category__icon(style="background-color: #E3EDFB")
            +icon('category-icon-20')
          span.category__text Миграционное право
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3E3")
            +icon('category-icon-21')
          span.category__text ДТП, ГИБДД, ПДД
        a(href="#").category__link
          .category__icon(style="background-color: #FBE3F6")
            +icon('category-icon-22')
          span.category__text Военное право
        a(href="#").category__link
          .category__icon(style="background-color: #EEE3FB")
            +icon('category-icon-23')
          span.category__text Семейное право
        a(href="#").category__link
          .category__icon(style="background-color: #E3E8FB")
            +icon('category-icon-24')
          span.category__text Медицинское право
        a(href="#").category__link
          .category__icon(style="background-color: #E3F5FB")
            +icon('category-icon-25')
          span.category__text Усыновление, опека
      a(href="#").category__btn.btn.btn--bg-orange Все категории
