section.certificates
  .container
    .section-top
      .section-top__content
        h2.section-top__title.title.title--color-bg.title--size-small Сертификаты наших юристов
        span.section-top__text.title.title--size-tiny.title--color-gray  Наши специалисты регулярно повышают квалификацию
      .section-top__arrows.certificates__arrows
    .certificates__slider
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
      .certificates__slide
        a(data-fancybox="gallery" href="static/images/content/certificates/certificates-image-1.png").certificates__link
          img(src="static/images/content/certificates/certificates-image-1.png" alt="").certificates__image
