section.difference
  .difference__bg(style="background-image: url(static/images/content/difference/difference-bg.jpg)")
    .container
      h2.title.title--color-white.title--size-small.title--align-center Закажите на Prav.io - сэкономьте время, деньги и нервы
      .difference__row
        .difference__col
          h3.title.title--size-medium.title--color-gray.difference__col-title Юридические компании
          ul.difference__list
            li.difference__item
              span.difference__item-text Скорость выполнения:
              span.difference__item-text.difference__item-text--color-red 3 - 5 часов
            li.difference__item
              span.difference__item-text Цена:
              span.difference__item-text.difference__item-text--color-red От 5000 руб.
            li.difference__item
              span.difference__item-text Выбор исполнителей:
              span.difference__item-text.difference__item-text--color-red 3-20 сотрудников
            li.difference__item
              span.difference__item-text Простота заказа:
              span.difference__item-text.difference__item-text--color-red Соглосавание времени, личная встреча, тяжелая офисная обстановка
            li.difference__item
              span.difference__item-text Возврат средств:
              span.difference__item-text.difference__item-text--color-red Вероятность стремится к нулю
        .difference__col.difference__col--shadow
          h3.title.title--size-medium.title--color-bg.difference__col-title.difference__col-title--logo Prav.io
          ul.difference__list
            li.difference__item
              span.difference__item-text Скорость выполнения:
              span.difference__item-text.difference__item-text--color-green В среднем 15 - 30 минут
            li.difference__item
              span.difference__item-text Цена:
              span.difference__item-text.difference__item-text--color-green От 100 руб.
            li.difference__item
              span.difference__item-text Выбор исполнителей:
              span.difference__item-text.difference__item-text--color-green Из 1500+ исполнителей
            li.difference__item
              span.difference__item-text Простота заказа:
              span.difference__item-text.difference__item-text--color-green Пара кликов - заказ готов. Минимум обсуждений. Непринужденная домашняя обстановка
            li.difference__item
              span.difference__item-text Возврат средств:
              span.difference__item-text.difference__item-text--color-green 100% гарантия возврата в 1 клик
