section.information
  .container
    h2.title.title--color-bg.title--size-small.information__title Что такое юридическая консультация онлайн?
    span.information__subtitle.title.title--size-tiny.title--color-gray Задавайте свои вопросы нашим юристам, чтобы получить помощь юриста
    .information__inner
      .information__col
        p.information__text Развитые IT-технологии, плюс покрытие России сетью интернет, помогают получить информационные услуги при помощи ПК. Онлайн-консультация юриста – одна из таких услуг. Специалисту необязательно находиться в одном помещении с клиентом, давая ему консультацию. Юридическая помощь часто означает передачу экспертной информации. Это можно делать онлайн, при условии пользования коммуникационной системой. Интернет является такой системой!
        .information__tabs
          .information__tabs-menu
            button(data-href="dispatch" data-da="information__tabs, 1, 500").information__tab Оперативность
              +icon('arrow', 'information__tab-icon')
            button(data-href="saveTime" data-da="information__tabs, 2, 500").information__tab Экономия времени
              +icon('arrow', 'information__tab-icon')
            button(data-href="confidentiality" data-da="information__tabs, 3, 500").information__tab Конфиденциальность
              +icon('arrow', 'information__tab-icon')
          .information__box(data-content="dispatch") Круглосуточная консультация юриста возможна только онлайн! Задав вопрос, получаете помощь сразу, как только возникла необходимость.
          .information__box(data-content="saveTime") Исключены потери времени на перемещения, ожидания очереди. Главное же состоит в том, что не вы подстраиваетесь под расписание юриста (что обычно при обращении в фирму/консультацию), а он подстраивается под ваше.
          .information__box(data-content="confidentiality") Консультация у юриста не требует регистрации на сайте, предъявления документов. Вы вправе соблюдать анонимность. Если у вас спросят контактные данные, то только для того, чтобы помощь оказалась качественной.
      figure.information__figure(data-da="information__col, 1, 900")
        img(src="static/images/content/information/information-image.jpg" alt="" ).information__image
    .information__content
      h2.title.title--color-bg.title--size-small.information__title.information__title--margin Основные правила пользования онлайн-консультацией юриста
      p.information__text В течение 10-15 минут вы получите обратный звонок по телефону или письменный ответ. Если предоставленной вами информации недостаточно для однозначного и четкого ответа, эксперт задаст вам наводящие вопросы. Это важно, поскольку грамотная юридическая консультация не должна допускать разночтений.
      p.information__text Постарайтесь четко сформулировать вопрос. Тогда ответ юриста сразу станет более конструктивным и содержательным. Если получаете телефонную консультацию – не надейтесь на память, запишите разговор на диктофон, чтобы потом прослушать еще раз и глубже вникнуть в ответы. Или делайте письменные заметки.
      p.information__text Звонить и писать можно круглосуточно, из любого региона России. Вам не требуется представляться или предоставлять свои данные.
      p.information__text Интернет обеспечивает мобильность получения информации. Не нужно тратить время и силы на поиски юридической консультации или офиса адвоката, предварительно созваниваться, выбирать удобное время, записываться, куда-то ехать. Задать вопрос юристу можно фактически круглосуточно, в любое удобное время и, находясь в любой точке пространства.
      p.information__text Вам обеспечена полная конфиденциальность информации и одновременно ее стопроцентная точность. На данные, полученные у юристов нашего портала, вы смело можете ссылаться в любых инстанциях – ее достоверность и соответствие законодательным актам гарантирована.
      p.information__text Ни один офис юридической консультации офлайн не может собрать в своих стенах специалистов во всех отраслях права – просто не хватит места. Между тем специализация – один из важнейших показателей компетентности юриста. Правовое пространство безгранично, и невозможно обладать одинаковой квалификацией во всех его областях. Именно практический опыт в определенной отрасли права делает помощь юриста наиболее эффективной. В каталоге нашего портала вы можете найти «узкого специалиста» в любой правовой области.
      p.information__text И, наконец, юридические консультации онлайн имеют то же свойство, что и «живые» - уменьшают тревогу и эмоциональное напряжение у человека, попавшего в неприятную правовую ситуацию. Поговорив с опытным юристом, вы сможете более четко представить себе возможные варианты развития событий, ваши перспективы, линию дальнейшего поведения. Перестанете бояться и начнете действовать. Прибегая к онлайн-консультации вы пройдете этот неприятный этап быстрее – ведь обратиться за ней можно сразу, как только случилось беспокоящее вас событие.
      a(href="#").information__excerpt Подробнее
