section.partner
  .container
    h2.title.title--align-center.title--size-small.title--color-bg.partner__title Представляем ваши интересы в
    .partner__row
      .partner__col
        +picture('static/images/content/partners', 'partner-1', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Федеральная налоговая служба
      .partner__col
        +picture('static/images/content/partners', 'partner-2', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Служба судебных приставов
      .partner__col
        +picture('static/images/content/partners', 'partner-3', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Центральный банк Российской Федерации
      .partner__col
        +picture('static/images/content/partners', 'partner-4', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Роспотребнадзор
      .partner__col
        +picture('static/images/content/partners', 'partner-5', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Генеральная прокуратора Российской Федерации
      .partner__col
        +picture('static/images/content/partners', 'partner-6', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Федеральные арбитражные суды
      .partner__col
        +picture('static/images/content/partners', 'partner-7', ['webp', 'png'], 'partner__col-image partner__col-image--margin')
        span.partner__col-text МВД Российской Федерации
      .partner__col
        +picture('static/images/content/partners', 'partner-8', ['webp', 'png'], 'partner__col-image')
        span.partner__col-text Следственный комитет
    .main-info.partner__info
      .main-info__inner
        .main-info__col
          .main-info__logo
            img(src='static/images/content/slider/slider-icon.png' alt="").main-info__image
          h3.title.title--color-white.title--size-tiny.main-info__title Бесплатная горячая линия 24/7
        .main-info__phone
          span.main-info__text Бесплатная горячая линия
          a(href="tel:+74954077755").main-info__link.title.title--color-white.title--size-tiny +7 (495) 40-777-55
        a(href="#").main-info__btn.btn.btn--bg-white.btn--color-green.btn--border-radius Задать вопрос
