section.reviews
  .container
    .section-top
      .section-top__content
        h2.section-top__title.title.title--color-bg.title--size-small Отзывы
        span.section-top__text.title.title--size-tiny.title--color-gray  98% наших пациентов приходят по рекомендации знакомых
      .section-top__arrows.reviews__arrows
    .reviews__slider
      .reviews__slide
        .reviews__col
          .reviews__col-header
            .reviews__col-info
              time(datetime="2020-09-21").day.reviews__col-day 21.09.2020
              ul.reviews__col-list
                li.reviews__col-item
                  span.reviews__col-text Услуга:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Юридическая помощь
                li.reviews__col-item
                  span.reviews__col-text Юрист:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Артемьев Ярослав Викторович
            img(src="static/images/content/team/team-image-5.jpg" alt="").reviews__col-user
          .reviews__col-footer
            span.reviews__col-name.title.title--size-medium.title--color-bg Артемьев Ярослав
            p.reviews__col-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
      .reviews__slide
        .reviews__col
          .reviews__col-header
            .reviews__col-info
              time(datetime="2020-09-21").day.reviews__col-day 21.09.2020
              ul.reviews__col-list
                li.reviews__col-item
                  span.reviews__col-text Услуга:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Юридическая помощь
                li.reviews__col-item
                  span.reviews__col-text Юрист:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Артемьев Ярослав Викторович
            img(src="static/images/content/team/team-image-5.jpg" alt="").reviews__col-user
          .reviews__col-footer
            span.reviews__col-name.title.title--size-medium.title--color-bg Артемьев Ярослав
            p.reviews__col-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
      .reviews__slide
        .reviews__col
          .reviews__col-header
            .reviews__col-info
              time(datetime="2020-09-21").day.reviews__col-day 21.09.2020
              ul.reviews__col-list
                li.reviews__col-item
                  span.reviews__col-text Услуга:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Юридическая помощь
                li.reviews__col-item
                  span.reviews__col-text Юрист:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Артемьев Ярослав Викторович
            img(src="static/images/content/team/team-image-5.jpg" alt="").reviews__col-user
          .reviews__col-footer
            span.reviews__col-name.title.title--size-medium.title--color-bg Артемьев Ярослав
            p.reviews__col-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
      .reviews__slide
        .reviews__col
          .reviews__col-header
            .reviews__col-info
              time(datetime="2020-09-21").day.reviews__col-day 21.09.2020
              ul.reviews__col-list
                li.reviews__col-item
                  span.reviews__col-text Услуга:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Юридическая помощь
                li.reviews__col-item
                  span.reviews__col-text Юрист:
                  span.reviews__col-text.reviews__col-text--color-green.reviews__col-text--wight-bold Артемьев Ярослав Викторович
            img(src="static/images/content/team/team-image-5.jpg" alt="").reviews__col-user
          .reviews__col-footer
            span.reviews__col-name.title.title--size-medium.title--color-bg Артемьев Ярослав
            p.reviews__col-desc Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе Напишите свой вопрос и наш юрист ответит вам в течение 15-30 минут. Юридическая помощь предоставляется на бесплатной и платной основе
