section.team
  .container
    .section-top
      .section-top__content
        h2.section-top__title.title.title--color-bg.title--size-small.section-top__title--margin Наши консультирующие юристы
        span.section-top__text.title.title--size-tiny.title--color-gray  Срочная платная консультация позволит разобраться в тонкостях сложившейся ситуации
      .section-top__arrows.team__arrows
    .team__tabs
      .team__tab.team__tab--active
        a(href="#" data-id="0").team__tab-link.btn.btn--color-bg Россия
      .team__tab
        a(href="#" data-id="1").team__tab-link.btn.btn--color-bg Москва
      .team__tab
        a(href="#" data-id="2").team__tab-link.btn.btn--color-bg Санкт-Петербург
      .team__tab
        a(href="#" data-id="3").team__tab-link.btn.btn--color-bg Краснодар
      .team__tab
        a(href="#" data-id="4").team__tab-link.btn.btn--color-bg Нижний новгород
      .team__tab
        a(href="#" data-id="5").team__tab-link.btn.btn--color-bg Омск
      .team__tab
        a(href="#" data-id="6").team__tab-link.btn.btn--color-bg Самара
    .team__slider
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
      .team__slide
        .team__content
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-1.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Артемьев Ярослав
              .team__best
                img(src="static/images/common/wing.png" alt="").team__best-icon
                span.team__best-text Юрист-консультант с 27&nbsp;стажем
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--width-small
            img(src="static/images/content/team/team-image-2.jpg" alt="").team__col-avatar
            .team__col-info
              span.team__col-name.title.title--color-bg.title--size-medium.team__col-name--margin Казаков Валентин
              .team__col-desc
                span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold Опытный юрист
                span.team__col-text Опыт реальной работы 16 лет
              a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-3.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-4.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Анисимов Олег
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
          .team__col.team__col--align-center
            img(src="static/images/content/team/team-image-5.jpg" alt="").team__col-avatar.team__col-avatar--size-small
            span.team__col-name.title.title--color-bg.title--size-medium Артемьев Ярослав
            span.team__col-text.team__col-text--color-gren.team__col-text--wight-bold.team__col-text--margin Опытный юрист
            a(href="#").btn.btn--border-radius.btn--bg-green.team__col-link Написать в чат
    a(href="#").team__link.btn.btn--border-radius.btn--bg-orange Весь каталог юристов
